body{
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.underline{
    cursor: pointer;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        display: inline-block;
        width: 100%;
        height: .5rem;
        bottom: 0;
        background: var(--color-primary);
        opacity: 0.7;
        transition: all .3s ease-in-out;
    }

    &:hover::before{
        height: 2rem;
    }
}