.accordion{

    &__tab{

        input[type=checkbox]{
            display: none;
        }

        label{
            cursor: pointer;
        }

        input[type=checkbox]:checked ~ .accordion__content{
            height: 30rem;
        }

    }

    &__content{
        height: 0;
        overflow: hidden;
        transition: all .5s linear;
    }
}