.carousel{

    &__container{
        width: 100%;
        height: 25rem;
        overflow: hidden;
        position: relative;
    }

    &__slide{
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--color-white);
        transform: translateX(0);
        transition: all .5s linear;

        &.active{
            z-index: 9999;
        }

        &.prev{
            transform: translateX(-100%);
        }

        &.next{
            transform: translateX(100%);
        }
    }

    &__button{
        position: absolute;
        bottom: 0;
        z-index: 99999;
        cursor: pointer;
        font-size: 3rem;

        &--prev{
            left: 0;
        }

        &--next{
            right: 0;
        }
    }
}