.contact{

    &__linkContainer{
        margin: 2rem;
    }

    &__link{
        display: block;
        position: relative;
        width: 100%;
        height: 3.5rem;
        margin: 1rem 0;

        &:hover{
            cursor: pointer;

            .contact__icon{
                opacity: 0;
                transform: translate(-2rem,-50%);
            }

            .contact__name{
                opacity: 1;
                transform: translate(-7rem,-50%);
            }
        }
    }

    &__icon{
        position: absolute;
        font-size: 3.5rem;
        display: inline-block;
        left: 1rem;

        top: 50%;
        transform: translateY(-50%);
        transition: all .3s ease-in-out;

        img{
            height: 3rem;
            width: auto;
        }
    }

    &__name{
        position: absolute;
        font-size: 1.5rem;
        display: inline-block;
        left: 7rem;
        opacity: 0;

        top: 50%;
        transform: translateY(-50%);
        transition: all .35s ease-in-out;
    }
}

.fa-twitter{
    color: #00acee;
}

.fa-linkedin{
    color: #4875B4
}