.heading{

    position: absolute;
    bottom:  -3rem;
    display: flex;
    align-items: center;

    &__container{
        position: relative;
    }

    &__backdrop{
        width: 10rem;
        height: 20rem;
        position: absolute;
        z-index: -2;
        background: var(--color-secondary);
        opacity: 0.7;

        &--left{
            left: 2rem;
        }

        &--right{
            left: 15rem;
        }
    }

    &__image{
        img{
            width: 25rem;
            height: auto;
        }
    }

    &__number{
        bottom: 0;
        font-size: 5rem;
        font-weight: 600;
    }

    &__break{
        height: 6rem;
        width: 3px;
        background: var(--color-primary);
        margin: 0 .5rem 0 .5rem;       
    }

    &__vertical{
        writing-mode: vertical-lr;
        text-orientation: mixed;
        font-weight: 300;
    }
}