.page{
    width: 100vw;
    max-width: 120rem;
    margin: 0 2rem;

    &__container{
        padding-top: 10rem;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-content: center;
    }
}